/* ============= Our team ant What we do) =============*/

.offices {
	gap: 30px;
	@media screen and (max-width: 767px) {
		display: flex;
		flex-direction: column;
	}

	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
	}

	@media screen and (min-width: 1200px) {
	}

	// &__address {
	// 	display: flex;
	// 	justify-content: center;
	// }

	&__map {
		// outline: 1px solid red;
		position: absolute;
		left: 33px;
		top: 109px;
		width: 384px;
		text-align: center;
		font-family: "Roboto";
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 1.15;
		letter-spacing: 0.03em;

		text-decoration: none;

		color: #212121;

		@media screen and (min-width: 768px) {
			left: 8px;
			top: 82px;
			width: 339px;
			font-size: 18px;
			line-height: 1.17;
		}

		@media screen and (min-width: 1200px) {
			left: 3px;
			top: 52px;
			width: 264px;
			font-size: 14px;
			line-height: 1.14;
		}
	}

	&__time-work {
		// outline: 1px solid red;
		position: absolute;
		width: 340px;
		left: 70px;
		top: 213px;
		font-size: 20px;
		line-height: 1.15;
		font-weight: 400;
		letter-spacing: 0.03em;

		text-align: center;

		color: var(--dominant-color);

		@media screen and (min-width: 768px) {
			left: 7px;
			top: 177px;
			font-size: 18px;
			line-height: 1.17;
		}

		@media screen and (min-width: 1200px) {
			left: 11px;
			top: 119px;
			font-size: 14px;
			line-height: 1.14;
			width: 248px;
		}
	}

	&__position-name {
		font-size: 16px;
		font-weight: 700;
		line-height: 1.19;
		letter-spacing: 0.03em;
		margin-top: 17px;
		text-align: center;
		margin-bottom: 20px;

		color: var(--dominant-color);

		@media screen and (min-width: 1200px) {
			font-size: 14px;
			line-height: 1.14;
		}
	}
}

.offices__contact-flex {
	display: flex;

	justify-content: space-around;
	// gap: 10px;

	@media screen and (min-width: 768px) {
		flex-direction: column;
		gap: 14px;
		font-size: 14px;
		line-height: 1.14;
		font-weight: 500;
	}

	@media screen and (min-width: 1200px) {
		font-size: 12px;
		line-height: 1.17;
	}
}

.offices__contact-link {
	display: flex;
	justify-content: center;
	align-items: center;

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;

	color: var(--dominant-color);
}

.offices__list {
	position: relative;
	background: #ffffff;
	padding-bottom: 30px;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 1px rgba(0, 0, 0, 0.12);
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;

	// outline: 1px solid tomato;

	@media screen and (min-width: 480px) {
		width: 450px;
		// padding-bottom: 24px;
	}

	@media screen and (min-width: 768px) {
		width: 354px;
		// padding-bottom: 24px;
	}

	@media screen and (min-width: 1200px) {
		width: 270px;
		// padding-bottom: 30px;
	}

	// &:not(:first-child) {
	// 	margin-left: 30px;
	// }
}

.btn__offices {
	position: absolute;
	left: 125px;
	top: 301px;
	// display: none;

	transition: scale 1000ms cubic-bezier(0.4, 0, 0.2, 1);
	scale: 1;

	@media screen and (min-width: 768px) {
		left: 77px;
		top: 258px;
	}

	@media screen and (min-width: 1200px) {
		left: 27px;
		top: 166px;
	}
}

.offices__list:hover {
	.btn__offices {
		display: block;
		scale: 1.2;
	}
}
